name: Build workflows

on:
  push:
    branches:
      - main
      - test

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{secrets.AUTH_TOKEN}}
      - name: init_author
        run: |
          git config --global user.name ${{secrets.USER_NAME}}
          git config --global user.email ${{secrets.USER_EMAIL}}
      - name: publish
        run: |
          cd FE
          npm install
          npm pkg set author=${{secrets.USER_NAME}}
          npm pkg set homepage=${{secrets.HOME_PAGE}}
          npm run deploy https://github.com/${{secrets.USER_NAME}}/${{secrets.BLOG_REPO}}
