name: Build workflows

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: publish
        run: |
          cd FE
          npm -i
          npm run deploy