name: Build workflows

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: GITHUB_WORKSPACE/FE
    steps:
      - name: publish
        run: |
          npm run deploy
